body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  margin: 0;
  padding: 5px;
}

.box {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  margin: 3px;
}